* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #E2F1E7; /* Light green background */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  padding: 1rem;
  background-color: #2E7D32; /* Dark green footer background */
  color: #E2F1E7; /* Light text color */
}

footer a {
  color: #81C784; /* Light green link color */
  text-decoration: none;
}

footer a:hover {
  color: #388E3C; 
}

header {
  background-color: #2E7D32; 
  padding: 1rem;  
  text-align: center;
}

header h1 {
  color: #E2F1E7; 
  margin: 0;
}

section {
  padding: 2rem;
  background-color: #E2F1E7; 
  border: 1px solid #2E7D32; 
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
  color: #2E7D32; 
  margin-top: 0;
}

label {
  display: block;
  margin-bottom: 10px;
}

select, button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50; 
  color: #E2F1E7; 
  cursor: pointer;
}

select:hover, button:hover {
  background-color: #388E3C; 
}

#results {
  padding: 2rem;
}

.market-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.market-list li {
  padding: 10px;
  border-bottom: 1px solid #2E7D32; 
}

.market-list li:last-child {
  border-bottom: none;
}

.market-name {
  font-weight: bold;
  color: #2E7D32; 
}

.market-address {
  font-size: 0.9em;
  color: #388E3C; 
}

.market-phone {
  font-size: 0.9em;
  color: #4CAF50; 
}

.market-product-type {
  font-size: 0.9em;
  color: #E2F1E7; 
}

.market-google-maps-link {
  font-size: 0.9em;
  color: #2E7D32; 
  text-decoration: underline;
}